.modal-overlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  padding: 20px;
  border-radius: 8px;
  min-width: 400px;
  max-width: 90vw;
  width: 100%;
  position: relative;
  background: #ffffff;
}

.modal-header {
  display: flex;
  padding-bottom: 10px;
}

.modal-title {
  flex: 1;
  text-transform: capitalize;
  font-weight: bold;
}

[data-theme="dark"] .modal {
  background: #1e293b;
}

.modal-close {
  border: none;
  background: transparent;
  font-size: 25px;
  line-height: 25px;
  cursor: pointer;
  padding: 0;
  outline: none;
  color: #111827;
  margin: 0;
  vertical-align: middle;
}

[data-theme="dark"] .modal-close {
  color: #e9e9e9;
}
