.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
}

.grid-item {
  grid-column: span 2;
}

@media screen and (max-width: 700px) {
  .grid-item {
    grid-column: span 1;
  }
}
