:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --common-dialog-paper-bg: #ffffff;
  --common-dialog-paper-text: rgba(0,0,0,0.87);
  --common-input-bg: #ffffff;
  --common-input-text: #000000;
  --common-button-bg: blue;
  --common-button-text: white;
  /* --common-button-disable-bg: rgba(0, 0, 0, 0.12);
  --common-button-disable-text: rgba(0, 0, 0, 0.26); */
  --common-button-disable-bg: #1565c0;
  --common-button-disable-text: rgba(255, 255, 255,1);
  --common-page-title: #111827;
}

[data-theme="dark"] {
  --common-dialog-paper-bg: #1e293b;
  --common-dialog-paper-text: #ffffff;
  --common-input-bg: #42444e;
  --common-input-text: #ffffff;
  --common-button-bg: blue;
  --common-button-text: white;
  --common-button-disable-bg: #1565c0;
  --common-button-disable-text: rgba(255, 255, 255,1);
  --common-page-title: #e9e9e9;
}

input[type="text"],
input[type="number"],
input[type="password"],
select {
  background-color: var(--common-input-bg);
  color: var(--common-input-text);
}

button.Mui-disabled {
  color: var(--common-button-disable-text) !important;
  background-color: var(--common-button-disable-bg) !important;
  opacity: 0.5;
}

.MuiDialog-paper {
  background-color: var(--common-dialog-paper-bg) !important;
  color: var(--common-dialog-paper-text) !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.cursor-pointer {
  cursor: pointer;
}
